Source: ros-kinetic-rosjava-extras
Section: misc
Priority: extra
Maintainer: Daniel Stonier <d.stonier@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-rosjava-bootstrap, ros-kinetic-rosjava-build-tools, ros-kinetic-rosjava-core, ros-kinetic-sensor-msgs
Homepage: http://ros.org/wiki/rosjava_extras
Standards-Version: 3.9.2

Package: ros-kinetic-rosjava-extras
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-rosjava-bootstrap, ros-kinetic-rosjava-build-tools, ros-kinetic-rosjava-core, ros-kinetic-sensor-msgs
Description: Extra packages for rosjava_core
